.component_header{
	background-color:rgb(163,199,133);
	height: 100px;
	box-shadow: 0 1px 5px gray;
	position: relative;
}

.component_header a, a:visited{
	text-decoration: none;
	color: black;
}
.component_header a:hover{
	color: azure;
}

.component_header_img{
	float: left;
	height: 40px;
	width: 70px;
	margin: 30px;
}

.component_header_text{
	float: right;
	margin: 35px 15px 0 0;
	font-size: 1.4em;
}