.component_job{
	border: 1px solid black;
	width: 600px;
	position: relative;
	overflow: auto;
	border-radius: 4px;
}

.component_job_title{
	float: left;
	margin-left: 10px;
}

.component_job_details{
	float: right;
	margin-right: 10px;
}

.component_job_pic{
	margin: 50px 0 0 -75px;
	width: 75px;
	display: inline-block;
	position: relative;
}

.component_job_user{
	display: inline-block;
	position: absolute;
	margin: 60px 0 0 15px;
}

.component_job_description{
	margin: 15px 0 15px 5px;
}

.component_job_envelope{
	margin-right: 15px;
}