p {
	display:inline-block;
	margin:0;
}

h1{
	font-size: 3em;
}
.component_body{
	text-align: center;
	background-color:rgb(163,199,133);
	font-family: 'Source Sans Pro', sans-serif;
}

.component_body_about{
	height:580px;
	width:100%;
	background: url('../Components/yardwork.jpg');
	background-position: center top;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	color:white;
	box-shadow: 0 1px 5px gray;
}

.component_body_about h1{
	padding-top: 180px;
	position:relative;
	margin:0;

}

.component_body_whatwedo{
	height:225px;
	width:100%;
	background:rgb(255,250,240);
	box-shadow: 0 1px 5px gray;
}

.component_body_whatwedo h2{
	padding-top: 25px;
	margin: 0;
}

.component_body_whatwedo_icons_single{
	display:inline-block;
	padding: 10px;
	width: 40px;
	height: 40px;
}

.component_body_whowehelp{
	height:520px;
	width:100%;
	background:rgb(255,250,240);
	box-shadow: 0 1px 5px gray;
	text-align:left;
}

.component_body_whowehelp h2{
	padding-top:25px;
	text-align: center;
}

.component_whatwedo_tasks{
	display: inline-block;
	width: 20%;
	padding-top:25px;
	font-size:14px;
}

.component_whatwedo_tasks img{
	height:75px;
}

.component_body_whatwedo_info{
	width: 100%;
	text-align: center;
	font-weight: bold;
	padding-top:15px;
}

.component_body_whowehelp_personaimg{
	height:250px;
	margin-top:15px;
	border: 1px solid rgb(163,199,133);
	border-radius:5px;
}
.component_body_whowehelp_persona1{
  border-radius: 5px;
  margin-left:5%;
  padding:25px;
  width: 40%;
  display:inline-block;
  vertical-align: top;
  font-weight: bold;
  text-align: center;
}
 .component_body_whowehelp_persona1 img {
      margin: auto;
      float: none;
      display: block;
      height:250px;
  }

.component_body_whowehelp_persona1 p {
	margin-top: 5px;
}
.component_body_whowehelp_persona2{
  border-radius: 5px;
  padding: 16px;
  margin-left:3%;
  width: 40%;
 display:inline-block;
 font-weight: bold;
 text-align: center;

}

 .component_body_whowehelp_persona2 img {
      margin: auto;
      float: none;
      display: block;
      height:250px;
      border-radius: 5px;
  }

.component_body_whowehelp_persona2 p {
	margin-top: 5px;
}

.component_body_completing{
	height:300px;
	width:100%;
	background:rgb(255,250,240);
	box-shadow: 0 1px 5px gray;
}

.component_body_completing h2{
	padding-top:25px;

}

.component_body_completing ul {
	display:inline-block;
	float:left;
	padding-right:7%;
	padding-left:15%;
}

.component_body_completing li {
	list-style: none;
	padding:10px;
	font-size:18px;
}

.component_body_completing img {
	height:40px;
	padding-right:10px;
}

.component_body_completing h4{
	display:block;
	font-size:18px;
}