p {
	display:inline-block;
	margin:0;
}

h1{
	font-size: 3em;
}
.component_body{
	text-align: center;
	background-color:rgb(163,199,133);
	font-family: 'Source Sans Pro', sans-serif;
}

.component_body_about{
	height:580px;
	width:100%;
	background: url('../Components/yardwork.jpg');
	background-position: center top;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	color:white;
	box-shadow: 0 1px 5px gray;
}

.component_body_about h1{
	padding-top: 180px;
	position:relative;
	margin:0;

}

.component_body_whatwedo{
	height:325px;
	width:100%;
	background:rgb(255,250,240);
	box-shadow: 0 1px 5px gray;
}

.component_body_whatwedo h2{
	padding-top: 25px;
	margin: 0;
}

.component_body_whatwedo_icons_single{
	display:inline-block;
	padding: 10px;
	width: 40px;
	height: 40px;
}

.component_body_whowehelp{
	height:300px;
	width:100%;
	background:rgb(255,250,240);
	box-shadow: 0 1px 5px gray;
}

.component_body_whowehelp h2{
	padding:25px;
}

.component_whatwedo_tasks{
	display: inline-block;
	width: 20%;
	padding-top:25px;
	font-size:14px;
}

.component_whatwedo_tasks img{
	height:75px;
}

.component_about_team_name{
	width: 100%;
	text-align: center;
	font-weight: bold;
	padding-top:15px;
}

.component_body_whowehelp_persona{
	display:inline-block;
	height:300px;
	padding-left:100px;
}
