.component_footer{
	background-color: rgb(163,199,133);
	height: 50px;
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
}

.component_footer_text{
	width: 100%;
	text-align: center;
	font-weight: bold;
	margin-top:10px;
	padding-top: 5px;
	display:inline;
}
a {
	display:inline;
	text-decoration: none;
	color:black;
	font-weight:bold;
}

a:hover {
	cursor:pointer;
	color: white;
}

.component_footer_signout{
	font-weight: bold;
}

.component_footer_signout:hover{
	color: white;
	cursor: pointer;
}