.component_job{
	border: 2px solid black;
	width: 600px;
	position: relative;
	overflow: auto;
	border-radius: 4px;
	background-color: white;
	margin-bottom: 20px;
	font-family: 'Source Sans Pro', sans-serif;
}

.component_job_title{
	float: left;
	margin-left: 10px;
}

.component_job_details{
	float: right;
	margin-right: 10px;
	margin-top: 15px;
	display: block;
}

.component_job_details_category{
	display: block;
}

.component_job_pic{
	height: 75px;
	width: 75px;
	display: inline-block;
	margin-left: -115px;
}
.component_job_container{
	display: inline-block;
	position: absolute;
	margin-left: 20px;
}

.component_job_user{
	margin-top: 60px;
	display: block;
}

.component_job_name{
	margin: 15px 0 0 0;
}

.component_job_star{
	margin: 10px 5px 0 0; 
}

.component_job_description{
	margin: 15px 0 5px 5px;
}

.component_job_distance{
	position: relative;
	display: inline-block;
	margin-left: 5px;
}

.component_job_envelope{
	position: relative;
	display: inline-block;
	margin-right: 15px;
	margin-bottom: 10px;
	float: right;
}