.component_jobboard{
	background: rgb(255,250,240);
	box-sizing: border-box;
	padding-top: 30px;
	overflow: auto;
}

.component_jobboard_intro{
	width: 100%;
	text-align: center;
}

.component_jobboard_myjobs{
	width: 25%;
	float: left;
	margin-left: 15%;
}

.component_jobboard_jobs{
	width: 60%;
	float: left;
}