.component_jobboard{
	background: rgb(255,250,240);
	box-sizing: border-box;
	padding-top: 30px;
	overflow: auto;
	font-family: 'Source Sans Pro', sans-serif;
}

.component_jobboard_intro{
	width: 100%;
	text-align: center;
	display:inline-block;
}

.component_jobboard_myjobscontainer {
	border: 2px solid black;
	width:25%;
	height:100%;

}
.component_jobboard_myjobs{
	width: 25%;
	float: left;
	margin-left: 10%;
	display:inline-block;
	height:20%;
}

.component_jobboard_jobs{
	width: 60%;
	float: left;
	display:inline-block;
}