.component_myjobs{
	width: 250px;
	height:300px;
	background-color: white;
	border: 1px solid black;
	border-radius: 4px;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
}

.component_myjobs_break{
	width: 90%;
	font-size: 1px;
	color: rgba(0, 0, 0, 0);
	line-height: 1px;

	background-color: grey;
	margin: auto;
}

.component_myjobs_jobs{
	margin: 10px 0;
}